reference_genome/hg19_chr8.fa.sa
reference_genome/hg19_chr8.fa.pac
reference_genome/hg19_chr8.fa.bwt
reference_genome/hg19_chr8.fa
mapped/child.coord.sorted.bam
mapped/mother.qname.sorted.bam
mapped/mother.dedup.bam
mapped/.father.sam.swp
mapped/child.dedup.bam
mapped/father.sorted.bam
mapped/father.dedup.bam
mapped/father.qname.sorted.bam
mapped/child.fixmate.bam
mapped/father.sam
mapped/father.fixmate.bam
mapped/mother.filtered.bam
mapped/mother.fixmate.bam
mapped/mother.coord.sorted.bam
mapped/father.coord.sorted.bam
mapped/mother.sorted.bam
mapped/father.filtered.bam
mapped/child.filtered.bam
mapped/mother.sam
mapped/child.qname.sorted.bam
mapped/child.sorted.bam
mapped/proband.sam
raw_data/mother_R1.fq.gz
raw_data/father_R1.fq.gz
raw_data/proband_R1.fq.gz
raw_data/father_R2.fq.gz
raw_data/proband_R2.fq.gz
raw_data/mother_R2.fq.gz
variant_calling/snpEff/clinEff/ClinEff.jar
variant_calling/snpEff/snpEff/examples/test.chr22.ann.vcf
variant_calling/snpEff/snpEff/snpEff.jar
variant_calling/snpEff/snpEff/SnpSift.jar
variant_calling/snpEff/data/hg19_chr8/sequences.fa
variant_calling/snpEff/snpEff_latest_core.zip
.git/objects/f5/c31cd9eecc963d00eaf5ecd1ce079dbcc24375
.git/objects/57/2181b782956011c54fa1d8161d5ce1c802c6a5
.git/objects/1d/2b50a19e487aa8329892af08e336203ba4ba6a
.git/objects/b6/a16f9bc5622d2468da041f495a270dad38b9dc
.git/objects/e3/ee1ccd5e86ab84ff11720952df62458c7d4aca
.git/objects/51/870ddd0781b2f5c7846c178b3edc0f4248175f
.git/objects/f9/75cec8decca4a319367cb83fe6c1a597d1550c
.git/objects/ea/6f264c40947746381ff24600669553aa55630c
.git/objects/ee/8014be85c8aeb1b08212e3655b8877d03fbf80
.git/objects/83/b14ed4002103db15138441e4291b3933999ef2
.git/objects/42/8d054bb9eda77ca99b11fc31ab7af59c3e9a20
.git/objects/df/f5def7344ac13abeba27c3b5a25446f43fe325
.git/objects/e2/03c8faf1bec5837cec6a89a167656e183f9021
.git/objects/33/063c36a6d3444545f8e8b85e5e7dd3f98e115c
.git/objects/8e/6582c2b25d41410cc9e0e3d5e647d4bd1a36c4
.git/objects/5d/31661c1141c04e737d2d7458710c3cc673cc8a
.git/objects/19/c4685a07a3b3494291b7266618501de965c23b
.git/objects/bb/88ce513d9072b63ae2f39d306edaa4f7e0b345
.git/objects/4e/7da5849fcdbb5814bc1aa1189d0695567287e1
.git/objects/4e/22c4d38b1703aabaadc97253bf51ad0d6706c3
.git/objects/1b/f6638aac269da19015be58723499e6b8b81d59
.git/objects/28/51645d5f2b0ae1d5f305f7c227b67960f0c163
.git/objects/8a/3e22e9ca2eaf5c9042e01d35029ab769581852
.git/objects/f6/78d34cb684bf2a7592c53b2ff7d38751f2485f
.git/objects/49/1494cdba94f46fee82d44aa6cef6cba848ca56
.git/objects/a2/1c6b499e31fed9e51ce83541785dac81876c21
.git/objects/fe/dd0b81b6c2d7fda225ea26b1e80b67785fdc0a
.git/objects/29/a50e5e6f8fcee2243506e6a40149a6134a1b53
.git/objects/29/737fb05fd25420f3bdc7dde49a3a647d756d52
trimmed_data/proband_R2_paired.fq.gz
trimmed_data/father_R1_paired.fq.gz
trimmed_data/proband_R1_paired.fq.gz
trimmed_data/mother_R2_paired.fq.gz
trimmed_data/father_R2_paired.fq.gz
trimmed_data/mother_R1_paired.fq.gz
variant_calling/trio_variants.snpeff.vcf
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.4.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.14.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/regulation_GM12878.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.15.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.11.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/snpEffectPredictor.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.5.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.9.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.13.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.16.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/regulation_K562.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.2.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.1.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.8.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.7.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.12.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.X.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.18.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/interactions.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.6.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.3.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.10.bin
variant_calling/snpEff/snpEff/data/GRCh37.75/sequence.17.bin
variant_calling/trio_variants.snpeff.vcf
trimmed_data/*.fq.gz
trimmed_data/*.fq.gz
