reference_genome/hg19_chr8.fa.sa
reference_genome/hg19_chr8.fa.pac
reference_genome/hg19_chr8.fa.bwt
reference_genome/hg19_chr8.fa
mapped/child.coord.sorted.bam
mapped/mother.qname.sorted.bam
mapped/mother.dedup.bam
mapped/.father.sam.swp
mapped/child.dedup.bam
mapped/father.sorted.bam
mapped/father.dedup.bam
mapped/father.qname.sorted.bam
mapped/child.fixmate.bam
mapped/father.sam
mapped/father.fixmate.bam
mapped/mother.filtered.bam
mapped/mother.fixmate.bam
mapped/mother.coord.sorted.bam
mapped/father.coord.sorted.bam
mapped/mother.sorted.bam
mapped/father.filtered.bam
mapped/child.filtered.bam
mapped/mother.sam
mapped/child.qname.sorted.bam
mapped/child.sorted.bam
mapped/proband.sam
raw_data/mother_R1.fq.gz
raw_data/father_R1.fq.gz
raw_data/proband_R1.fq.gz
raw_data/father_R2.fq.gz
raw_data/proband_R2.fq.gz
raw_data/mother_R2.fq.gz
variant_calling/snpEff/clinEff/ClinEff.jar
variant_calling/snpEff/snpEff/examples/test.chr22.ann.vcf
variant_calling/snpEff/snpEff/snpEff.jar
variant_calling/snpEff/snpEff/SnpSift.jar
variant_calling/snpEff/data/hg19_chr8/sequences.fa
variant_calling/snpEff/snpEff_latest_core.zip
